In [26]:
from selenium import webdriver
chrome_path =r"C:\Users\username\Python\chromedriver"
driver = webdriver.Chrome(chrome_path)
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd
from datetime import datetime
import time

In [27]:
#date in form of string
now = datetime.now()
date_time = now.strftime("%m/%d/%Y")

In [28]:
driver.get("https://www.indiansuperleague.com/stats/148-150-golden-boot-award-statistics")

In [29]:
time.sleep(5)

In [30]:
#continer which contaons the data
isl_data = driver.find_element_by_class_name("si-plyr-stats")

In [31]:
test = isl_data.text

In [32]:
#removing word forward to make the columns even
test = test.split("\n")
test.remove("Forward" or 'Midfielder')

In [33]:
#Getting Data into a panda dataframe
df = pd.DataFrame()

In [34]:
count = 0
li = []
for i in test:
    if count<7 and i != "Forward":
        li.append(i)
        count+=1
        if count != 7:
            continue
    df = df.append(pd.DataFrame([li]))
    count = 0
    li = []

In [35]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header
df = df.set_index('Rank')

In [36]:
#First three in Golden Boot 
golden_boot = df.head(3)
golden_boot

0              Player     Club Name  GP  G  A  MINP
Rank
1     Aridane Santana     Odisha FC  14  9  2  1143
2       Sunil Chhetri  Bengaluru FC  14  9  0  1260
3         Roy Krishna        ATK FC  13  8  4  1164

In [37]:
time.sleep(1)

In [38]:
driver.set_window_size(width = 400, height =526)

In [39]:
element = driver.find_element_by_class_name('si-stats-select-container')
drp = Select(element)
drp.select_by_visible_text("Golden Glove Award")

In [40]:
time.sleep(1)

In [41]:
#continer which contaons the data
isl_data1 = driver.find_element_by_class_name("si-plyr-stats")
test1 = isl_data1.text

In [42]:
#removing word forward to make the columns even
test1 = test1.split("\n")
test1.remove("Goalkeeper")

In [43]:
df1 = pd.DataFrame()
count = 0
li = []
for i in test1:
    if count<8 and i != "Goalkeeper":
        li.append(i)
        count+=1
        if count != 8:
            continue
    df1 = df1.append(pd.DataFrame([li]))
    count = 0
    li = []

In [44]:
new_header = df1.iloc[0] #grab the first row for the header
df1 = df1[1:] #take the data less the header row
df1.columns = new_header
df1 = df1.set_index('Rank')

In [45]:
#First three in Golden Boot 
golden_glove = df1.head(3)
golden_glove

0                    Player Club Name  GP  M/G CS  GC  MINP
Rank
1     Gurpreet Singh Sandhu       BFC  14  140  8   9  1260
2      Arindam Bhattacharja       ATK  13  117  7  10  1170
3      Francisco Dorronsoro       OFC   7  105  3   6   630

In [46]:
driver.quit()